<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user_id %>"><%= c.user.email %></a>
    <%= c.content %>
    <%= l c.created_at, format: :long %>
  </div>
  
  <div>
    <%= link_to t('views.common.destroy'),  comment_path(c.id), method: :delete, data: { confirm: t('views.common.are_you_sure?') } if current_user.id == c.user_id %>
    <hr>
  </div>
<% end %>
