<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name('title') %> :</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name('content') %> :</strong>
  <%= @report.content %>
</p>

<% if current_user.id == @report.user_id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: t('views.common.are_you_sure?') } %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<h2><%= t('activerecord.models.comment') %></h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @report.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_for [@report, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit t('views.common.submit') %>
<% end %>
